body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 5px 0;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  padding: 0;
}

#legend {
  margin-top: 10px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 5px 15px;
}

#legend div {
  margin-top: 5px;
}

.legend-key {
  border-radius: 30px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.s {
  background-color: #7ecaae;
}

.m {
  background-color: #f8734f;
}

.l {
  background-color: #2a1144;
}